# Regular Expressions

Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
Sample Text- 'Python Exercises, PHP exercises.'
Expected Output: Python:Exercises::PHP:exercises:

In [6]:
import re
import pandas as pd

In [7]:
text = 'Python Exercises, PHP exercises.'
output = re.sub(r'[ ,.]', ':', text)
print(output)

Python:Exercises::PHP:exercises:

Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Expected output-
0      hello world
1             test
2    four five six

In [8]:
data = {'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df = pd.DataFrame(data)
df['SUMMARY'] = df['SUMMARY'].apply(lambda x: ' '.join(re.findall(r'\b\w+\b', x)))
print(df)

            SUMMARY
0       hello world
1        XXXXX test
2  123four five six

Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [11]:
def long_words(text):
    pattern = re.compile(r'\b\w{4,}\b')
    return pattern.findall(text)

text = "Hello my name is Atiya Shaik, doing Internship."
print(long_words(text))

['Hello', 'name', 'Atiya', 'Shaik', 'doing', 'Internship']

Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [12]:
def find_words (text):
    pattern = re.compile(r'\b\w{3,5}\b')
    return pattern.findall (text)

text =  "Hello my name is Atiya Shaik, doing Internship."
print (find_words(text))

['Hello', 'name', 'Atiya', 'Shaik', 'doing']

Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output:
example.com
hr@fliprobo.com
github.com
Hello Data Science World
Data Scientist

In [17]:
def remove_parentheses(strings):
    pattern = re.compile(r'\s*\([^)]*\)\s*')
    return [pattern.sub('', s).strip() for s in strings]

sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
result = remove_parentheses(sample_text)
print(result)

['example', 'hr@fliprobo', 'github', 'Hello', 'Data']

Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [71]:
file_path = "sample.txt"
pattern = re.compile(r'\([^)]*\)')
text_without_parentheses = pattern.sub('', text)
result = [s.strip() for s in text_without_parentheses.split(',')]
print(result)

['["example "', '"hr@fliprobo "', '"github "', '"Hello "', '"Data "]']

Question 7- Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”
Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [18]:
text = "ImportanceOfRegularExpressionsInPython"
result = re.findall(r'[A-Z][a-z]*', text)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Question 8- Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [21]:
text = "RegularExpression1IsAn2ImportantTopic3InPython"
result = re.sub(r'(?<=[a-zA-Z])(\d)', r' \1', text)
print(result)

RegularExpression 1IsAn 2ImportantTopic 3InPython

Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [33]:
text = "RegularExpression1IsAn2ImportantTopic3InPython"
result = re.sub(r'(?<=[A-Z0-9])(?=[A-Z])', ' ', text)
print(result)

RegularExpression1 IsAn2 ImportantTopic3 InPython

Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [34]:
url = "https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
df = pd.read_csv(url)
df['first_five_letters'] = df['Country'].str[:5]
print(df)

         Country                           Region  Happiness Rank  \
0    Switzerland                   Western Europe               1
1        Iceland                   Western Europe               2
2        Denmark                   Western Europe               3
3         Norway                   Western Europe               4
4         Canada                    North America               5
..           ...                              ...             ...
153       Rwanda               Sub-Saharan Africa             154
154        Benin               Sub-Saharan Africa             155
155        Syria  Middle East and Northern Africa             156
156      Burundi               Sub-Saharan Africa             157
157         Togo               Sub-Saharan Africa             158

     Happiness Score  Standard Error  Economy (GDP per Capita)   Family  \
0              7.587         0.03411                   1.39651  1.34951
1              7.561         0.04884                   1.30232  1.40223
2              7.527         0.03328                   1.32548  1.36058
3              7.522         0.03880                   1.45900  1.33095
4              7.427         0.03553                   1.32629  1.32261
..               ...             ...                       ...      ...
153            3.465         0.03464                   0.22208  0.77370
154            3.340         0.03656                   0.28665  0.35386
155            3.006         0.05015                   0.66320  0.47489
156            2.905         0.08658                   0.01530  0.41587
157            2.839         0.06727                   0.20868  0.13995

     Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                     0.94143  0.66557                        0.41978
1                     0.94784  0.62877                        0.14145
2                     0.87464  0.64938                        0.48357
3                     0.88521  0.66973                        0.36503
4                     0.90563  0.63297                        0.32957
..                        ...      ...                            ...
153                   0.42864  0.59201                        0.55191
154                   0.31910  0.48450                        0.08010
155                   0.72193  0.15684                        0.18906
156                   0.22396  0.11850                        0.10062
157                   0.28443  0.36453                        0.10731

     Generosity  Dystopia Residual first_five_letters
0       0.29678            2.51738              Switz
1       0.43630            2.70201              Icela
2       0.34139            2.49204              Denma
3       0.34699            2.46531              Norwa
4       0.45811            2.45176              Canad
..          ...                ...                ...
153     0.22628            0.67042              Rwand
154     0.18260            1.63328              Benin
155     0.47179            0.32858              Syria
156     0.19727            1.83302              Burun
157     0.16681            1.56726               Togo

[158 rows x 13 columns]

Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [35]:
text = "abc123_ABC"
if re.match(r'^[a-zA-Z0-9_]+$', text):
    print("Matched")
else:
    print("Not matched")

Matched

Question 12- Write a Python program where a string will start with a specific number.

In [36]:
text = "123abcdexg"
if re.match(r'^123', text):
    print("Matched")
else:
    print("Not matched")

Matched

Question 13- Write a Python program to remove leading zeros from an IP address

In [37]:
ip_address = "012.123.045.067"
new_ip = re.sub(r'\b0*(\d+)', r'\1', ip_address)
print(new_ip)

12.123.45.67

Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
Expected Output- August 15th 1947
Note- Store given sample text in the text file and then extract the date string asked format

In [65]:
with open('sample_text1.txt', 'r') as file:
    text = file.read()

date = re.search(r'[A-Z][a-z]* \d{1,2}th \d{4}', text).group()
print(date)

August 15th 1947

Question 15- Write a Python program to search some literals strings in a string. 
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox', 'dog', 'horse'

In [40]:
text = 'The quick brown fox jumps over the lazy dog.'
searched_words = ['fox', 'dog', 'horse']

for word in searched_words:
    if word in text:
        print(f"'{word}' found in the text.")
    else:
        print(f"'{word}' not found in the text.")

'fox' found in the text.
'dog' found in the text.
'horse' not found in the text.

Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [44]:
text = 'The quick brown fox jumps over the lazy dog.'
searched_word = 'fox'


position = text.find(searched_word)

if position != -1:
    print(f"'{searched_word}' found at position {position} in the text.")
else:
    print(f"'{searched_word}' not found in the text.")

'fox' found at position 16 in the text.

Question 17- Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'
Pattern : 'exercises'.

In [48]:
text = 'Python exercises, PHP exercises, C# exercises'
searched_word = 'exercises'


start = 0


positions = []

while start < len(text):
    position = text.find(pattern, start)
    
   
    if position != -1:
        positions.append(position)
        start = position + 1
    else:
        
        break


for position in positions:
    print(f"'{searched_word}' found at position {position} in the text.")

'exercises' found at position 7 in the text.
'exercises' found at position 22 in the text.
'exercises' found at position 36 in the text.

Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [73]:
def find_occurrences(text, substring):
    positions = []
    start = 0

    while start < len(text):
        position = text.find(substring, start)

        if position != -1:
            positions.append(position)
            start = position + 1  # Move the starting point to avoid overlapping substrings
        else:
            break

    return positions

text = "This is a simple example. Simple is as simple does."
substring = "simple"

positions = find_occurrences(text, substring)

if positions:
    print(f"'{substring}' found {len(positions)} times in the text.")
    for i, position in enumerate(positions, start=1):
        print(f"Occurrence {i} found at position {position}")
else:
    print(f"'{substring}' not found in the text.")

'simple' found 2 times in the text.
Occurrence 1 found at position 10
Occurrence 2 found at position 39


Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [49]:
date = "2023-11-03"
formatted_date = re.sub(r'(\d{4})-(\d{2})-(\d{2})', r'\3-\2-\1', date)
print(formatted_date)

03-11-2023

Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [50]:
text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
matches = re.findall(r'\b\d+\.\d{1,2}\b', text)
print(matches)

['01.12', '145.8', '3.01', '27.25', '0.25']

Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [53]:
text = "There are 5 apples, 10 bananas, and 3 cherries."
pattern = re.compile(r'\d+')
matches = [(match.group(), match.start()) for match in pattern.finditer(text)]

for number, position in matches:
    print(f"Number: {number}, Position: {position}")

Number: 5, Position: 10
Number: 10, Position: 20
Number: 3, Position: 36


Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
Expected Output: 950

In [54]:
text = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
matches = re.findall(r'\d+', text)
max_value = max(map(int, matches))
print(max_value)

950


Question 23- Create a function in python to insert spaces between words starting with capital letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"
Expected Output: Regular Expression Is An Important Topic In Python

In [55]:
text = "RegularExpressionIsAnImportantTopicInPython"
formatted_text = re.sub(r'(?<=[a-z])(?=[A-Z])', ' ', text)
print(formatted_text)

Regular Expression Is An Important Topic In Python

Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [56]:
text = "Match these: Aa BcD efGh IjKl"
matches = re.findall(r'[A-Z][a-z]*', text)
print(matches)

['Match', 'Aa', 'Bc', 'D', 'Gh', 'Ij', 'Kl']


Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
Sample Text: "Hello hello world world"
Expected Output: Hello hello world

In [57]:

text = "Hello hello world world"
result = re.sub(r'\b(\w+)\b\s+\1', r'\1', text, flags=re.I)
print(result)

Hello world

Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [58]:
text = "Ending with alphanumeric1"
if re.match(r'.*\w$', text):
    print("Matched")
else:
    print("Not matched")

Matched

Question 27-Write a python program using RegEx to extract the hashtags.
Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [60]:
text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
hashtags = re.findall(r'#\w+', text)
print(hashtags)

['#Doltiwal', '#xyzabc', '#Demonetization']


Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [61]:

text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
cleaned_text = re.sub(r'<U\+\w+>', '', text)
print(cleaned_text)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders


Question 29- Write a python program to extract dates from the text stored in the text file.
Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
Note- Store this sample text in the file and then extract dates.

In [63]:
with open('sample_text.txt', 'r') as file:
    text = file.read()

dates = re.findall(r'\d{1,2}-\d{2}-\d{4}', text)
print(dates)

['12-09-1992', '15-12-1999']

Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.
Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [64]:
text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
result = re.sub(r'\b\w{2,4}\b', '', text)
print(result)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.